[Unit]
Description=Hadoop YARN Resource Manager

[Service]
Type=forking
ExecStart=/opt/hadoop/sbin/yarn-daemon.sh start resourcemanager
User=vagrant

[Install]
WantedBy=multi-user.target
