[Unit]
Description=Hadoop YARN Resource Manager

[Service]
Type=forking
ExecStart=/opt/hadoop/sbin/mr-jobhistory-daemon.sh start historyserver
User=vagrant

[Install]
WantedBy=multi-user.target
